<div class="container-fluid">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top" style="background-color: #045B9336;">
    <div class="col mb-3">
      
    </div>

    

    <div class="col mb-3">
      <h5>Institucional</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Campus Virtual</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Manuais e Procedimentos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">POP's</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lista de Presença</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Formulário de Bancada</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Solicitação de Acesso</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ocorrência de Ponto</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Troca de Plantão</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Link Úteis</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ti Med - HEGV</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ti Med - UPA</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Bios Lab</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">GLPI - Central de Soluções</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Zamed - Logística</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CadWeb</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lista de Ramais</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Dúvidas Frequentes</a></li>
      </ul>
    </div>  
    <div class="col mb-3">

    </div>
    <div class="col-md-12 d-flex align-items-center border-top border-dark">
      <a href="/" class="me-2 mb-md-0 text-muted text-decoration-none lh-1 w-25">
      <%= image_tag "header/logo_hegv_background_none_azul.png", :class => "mx-1 w-50" %>
      </a>
      <span class="text-muted">Site desenvolvido pela equipe de T.I. do Hospital Estadual Getúlio Vargas. Para sugestões, críticas e dúvidas, entre em contato conosco pelo e-mail ti.hegv@ipcep.org.br.</span>
    </div> 
  </footer>
</div>
